$flex-map: (
  center: center,
  start: flex-start,
  end: flex-end,
  around: space-around,
  between: space-between,
);

@function _get-flex-vlaue($key) {
  @return map-get($map: $flex-map, $key: $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  align-items: _get-flex-vlaue($ai);
  justify-content: _get-flex-vlaue($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  align-items: _get-flex-vlaue($ai);
  justify-content: _get-flex-vlaue($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-vlaue($ai);
  justify-content: _get-flex-vlaue($jc);
}
